body {
    font-family: 'Roboto', Sans-Serif;
    min-height: 100vh;
    margin: 0;
}

.page-container {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    margin: 0
}

.top-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 100px;
    margin: 0;
}

.main-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
}

.head-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.head-sub {
    margin-bottom: 10px;
}

.head-sub,
.sign-up {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    padding: 5px 16px;
    border-radius: 8px;
    width: 25%;
} 

.wow-container {
    max-width: 400px;
}

.wow-container img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
}

.header-right {
    padding-right: 100px;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}

.section-two-head {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.section-two-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 100px;
}

.info {
    max-width: 150px;
    
}

.info img {
    max-width: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    gap: 5px;
}

ul {
    display: flex;
    gap: 20px;

}

li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.thor-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    max-width: 600px;
    padding-top: 50px;
    
}

.attribution {
    color: #1F2937;
    font-weight: 900;
    margin-left: 400px;
    padding-bottom: 50px;

}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.big-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#3882f6 ;
    width: 1000px;
    height: 100px;
    border-radius: 8px;
}

.big-box .text {
    display: flex;
    flex-direction: column;
}

.box-main-text {
    color: #f9faf8;
    font-weight: bold;
}

.box-sub-text {
    color: #e5e7eb;
}

.cta-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border-color: #f9faf8;
    height: 30px;
    width: 100px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    height: 100px;

}
